@font-face {
  font-family: "mono";
  src: url("./mono.woff2");
  font-weight: 100 500;
  font-display: block;
}

@font-face {
  font-family: "mono";
  src: url("./bold.woff2");
  font-weight: 600 900;
  font-display: block;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #212121;
  color: aliceblue;
}

main {
  padding: 1em;
}

html,
body,
button,
input,
select,
textarea {
  font-size: 100%;
  font-family: mono;
  font-smooth: always;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: calc(1em + 4vw);
  font-weight: 100;
  line-height: 1em;
  margin-bottom: 1rem;
  /* color: #2c2c2c; */
}

img {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 0 0 1.5rem;
  height: auto;
}
