@font-face {
  font-family: "mono";
  src: url("./mono.woff2");
  font-weight: 100 500;
  font-display: block;
}

@font-face {
  font-family: "mono";
  src: url("./bold.woff2");
  font-weight: 600 900;
  font-display: block;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #212121;
  color: aliceblue;
}

main {
  padding: 1em;
}

body {
  padding: 1rem;
}

html,
body,
button,
input,
select,
textarea {
  font-size: 100%;
  font-family: mono;
  font-smooth: always;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: calc(3em + 3vw);
  font-weight: 100;
  line-height: 1em;
  margin-bottom: 1rem;
  /* color: #2c2c2c; */
}

img {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 0 0 1.5rem;
  height: auto;
}

.outer {
  margin: 0 0 0.5rem;
  height: 40px;
  padding: 10px;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}

.button {
  width: 100%;
  position: relative;
  height: 100%;
  bottom: 1px;
  left: 1px;
  overflow: hidden;
  background-color: rgba(150, 150, 150, 1);
  border-radius: 20px;
  box-shadow: inset 5px -10px 15px 5px rgba(25, 25, 25, 0.6),
    -4px 4px 6px 3px rgba(0, 0, 0, 0.4);
}

.button span {
  display: block;
  width: 50%;
  background: lime;
  height: 100%;
  padding: 0.6rem 1rem;
  mix-blend-mode: lighten;
  color: black;
  font-weight: bold;
}

p {
  max-width: 800px;
  color: #aaa;
}

p strong {
  color: white;
}
